/*This one is for all page, basically page will includes two div, one is main, the other */
/*is footer-custom, everything else inside main */
html, body{
    height: 100%;
}

body{
    background-color: transparent;
}

.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


